<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h4>Опубликовано новостей: {{ news|length }}</h4>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td><h5>Заголовок</h5></td>
                <td><h5>Дата публикации</h5></td>
                <td><h5>Предпросмотр</h5></td>
            </tr>

            {% for singular_news in news %}
            <tr>
                <td>{{ singular_news.title|censor }}</td>
                <td>{{ singular_news.dateCreation|date:'d M Y' }}</td>
                <td>{{ singular_news.text|censor|truncatechars:20 }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
